      <tbody>
        <tr>
          <th scope="row">Team 1</th>
          <td scope="row">1223</td>
          <td scope="row">102</td>
          <td scope="row">1306</td>
          <td scope="row">123</td>
          <td scope="row">109</td>
          <td scope="row">98</td>
          <td scope="row">avg</td>
          <td scope="row">149</td>
          <td scope="row">73</td>
          <td scope="row">108.22</td>
          <td scope="row">1223</td>
          <td scope="row">3</td>
        </tr>
      </tbody>