<table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Team</th>
          <th scope="col">Points For</th>
          <th scope="col">Average</th>
          <th scope="col">Points Against</th>
          <th scope="col">Three</th>
          <th scope="col">Two</th>
          <th scope="col">One</th>
          <th scope="col">3 Week Avg</th>
          <th scope="col">Perfect</th>
          <th scope="col">Ceiling</th>
          <th scope="col">Floor</th>
          <th scope="col">Power</th>
          <th scope="col">Rank</th>
        </tr>
      </thead>
        {{{#each rows}}}
          {{> row}}
        {{{/each}}}
</table>