@media (prefers-color-scheme: light) {
    body {
        background-color: white !important;
        color: black !important;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black !important;
    }
    tr {
        color: white !important;
    }
}